* {
    box-sizing: border-box;
}

content {
    margin: 0 auto;
}

body {
    font-size: 1.5vw;
    background-color: rgb(154, 140, 173);
    margin: 0;
}

main {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.hero picture {
    width: 100%;
}

.temple {
    width: 100%;
    height: auto;
}

h1 {
    align-items: center;
    justify-content: center;
}