/* 64em is also 1028px (if basefont is 16px) */
@media only screen and (min-width: 64rem) {
    /*----------- BODY --------------*/
  
    /*----------- HEADER --------------*/
  
    .date {
      margin-left: 19.5%;
      text-align: left;
    }
  
    header h1,
    header h2 {
      text-align: left;
    }
  
    header img {
      margin-left: 6.5%;
    }
  
    /*----------- NAVIGATION --------------*/
  /* Dark mode styles */
.dark-mode {
  background: #000;
  color: #fff;
}

#mode {
  position: absolute;
  top: 1rem;
  right: 1rem;
  font-size: 3rem;
  cursor: pointer;
  z-index: 100; /* Ensure it's on top of other elements */
}

    #menu {
        display: none;
      }
    
      .navigation {
      display: flex;
      flex-direction: row;
         }
  
      .navigation li {
       display: block;
       justify-content: center;
       flex: 1 1 100%;
       margin: 0;
      }
  
      nav a {
          padding: 1rem;
      }
  
    .active {
      color: #00303f;
      border-bottom: 1px #ff8c00 solid;
    }
  
    nav.clearfix {
      margin-top: 50px;
    }
  
    /*----------- MAIN --------------*/
  
    /*main {
      height: 100%;
      padding-bottom: 2%;
    }*/
  
    .membership {
      width: 50%;
    }
  
    main {
      grid-template-columns: 1fr 2fr 1fr;
      grid-template-rows: repeat(3, 1fr);
    }
    main h1 {
      margin-left: 6.5%;
    }
  
    #joinUs {
      width: 40%;
    }
  
    div.membership ul {
      display: block;
      list-style-type: disc;
      margin-block-start: 1em;
      margin-block-end: 1em;
      margin-inline-start: 0px;
      margin-inline-end: 0px;
      padding-inline-start: 40px;
    }
    div.topbar {
      position: relative;
      display: flex;
      align-items: center;
      justify-content: space-between;
      width: 100%;
      height: 100%;
      margin: 0 auto;
      padding-right: 15px;
      padding-left: 15px;
      background-color: #02254b;
      box-sizing: border-box;
    }
  
    picture.weather-img img {
      width: 10%;
      height: 10%;
    }
  
    .link-5 {
      text-align: center;
      display: block;
      flex-direction: row;
    }
  
    .link-5 h2 {
      margin-right: 40px;
    }
  
    img.placeholder-6 {
      margin-top: 40px;
    }
  
    img.placeholder-3 {
      margin-top: 12px;
    }
  
    img.placeholder-5 {
      margin-top: 10px;
    }
    .home-grid {
      margin-left: 6.5%;
      width: 85%;
      height: 85%;
      grid-template-columns: auto auto auto auto;
      grid-template-rows: auto auto auto auto;
      grid-gap: 1%;
    }
  
    .joinContainer div {
      display: flex;
      flex-direction: row;
    }
  
    .membership {
      width: 50%;
    }
  
    div.membership h2 {
      text-align: center;
    }
  
    .link-1 {
      grid-column: 2/4;
      grid-row: 1/3;
      width: 100%;
      max-width: 100%;
    }
  
    .link-2 {
      grid-column: 2/5;
      grid-row: 3/4;
      object-fit: cover;
      object-position: 0 -90px;
    }
  
    .link-3 {
      grid-column: 4/5;
      grid-row: 1/2;
    }
  
    .link-4 {
      grid-column: 4/5;
      grid-row: 2/3;
    }
  
    .link-5 {
      grid-column: 1/2;
      grid-row: 3/4;
    }
  
    .link-6 {
      grid-column: 1/2;
      grid-row: 1/2;
    }
  
    .link-7 {
      grid-column: 1/2;
      grid-row: 2/3;
    }
  
    .link-8 {
      grid-column: 4/5;
      grid-row: 3/4;
    }
  
    .home-grid a {
      overflow: hidden;
    }
  
    .home-grid img {
      min-height: 20%;
      min-width: 20%;
    }
  
    .list section img {
      display: block;
    }
  
    /*----------- FOOTER --------------*/
    #map {
        display: block;
        margin: auto;
        text-align: center;
        width: 30%;
        max-height: 150px;
        border: 2px solid black;
        border-radius: .5em;
        box-shadow: 0 3px 6px 0 rgba(0, 0, 0, 0.3), 0 3px 12px 0 rgba(0, 0, 0, 0.3);
    }
    footer {
      color: #02254b;
    }
  
    hr {
      width: 87%;
      margin-left: 6.5%;
    } 
}