@media screen and (min-width: 768px) {

    nav {
      justify-content: space-between;
      max-width: 100%;
      padding: 0 1rem;
      display: flex;
    }
  
    nav ul li {
      flex: 1 1 100%;
    }
    ul {
        list-style-type: none;
        margin: 0;
        padding: 0;
      }

  }