@media (min-width: 50em) {

    header, main, footer {
        width: 60%;
    }

    #index-header {
        flex-direction: row;
    }

    #index-header h1 {
        margin-right: 0.5em;
    }

    #design-principles-main {
        grid-template-columns: repeat(3, 1fr);
        grid-template-rows: 1fr;
    }
}