@media screen and (min-width: 580px) {
  h1 {
    padding: 10rem;
    }
    body {
      font-size: 1.5vw;
  }
    h1 {
      padding: 3rem;
    }
    .nav {
      display: flex;
      flex-direction: row; 
    } 
  
  #menu {
      display: none;
    }
  
  .navigation {
    display: flex;
    flex-direction: row;
       }

  .navigation li {
     display: block;
     justify-content: center;
     flex: 1 1 100%;
     margin: 0;
    }

  nav a {
        padding: 1rem;
    }

    .container {
      display: flex;
      flex-direction: row;
      justify-content: center;
      font-size: 1.8vw;
  }

  .container #card1 {
      flex-grow: 2;
      margin-right: 1%;
  }
  section p {
        padding: 1rem;
    }
  section ul {
        padding: 1rem;
    }

  #map {
        max-height: 400px;
        width: 87%;
       }
  #flag{
        width: 10%;
    
    }
}


